a {
	color: inherit;
}

.container {
	position: relative;
	display: table;
	width: 100%;
	max-width: $container;
	margin: 0 auto;
}

p {
	font-size: $textSize;
	margin-bottom: $gutter / 2;

	strong {
		font-weight: 700;
	}
}

ul {
	font-size: $textSize;
}

[mv-app]:not([mv-mode=edit]) .hide-on-read {
	display: none;
}
