// fonts
$titleFont: 'Rubik', sans-serif;
$textFont: 'Roboto Mono', monospace;

// colors
$green: rgba(126, 141, 133, 1);
$gray: rgba(85, 80, 77, 1);
$black: rgb(64,64,64);
$white: rgba(255, 255, 255, 1);
$blue: rgba(46, 82, 102, 1);

// sizes
$gutter: 30px;
$textSize: 1.6em;
$container: 600px;
